node_modules/
dist/
.env
_archive/
android/build/
android/app/build/
android/.gradle/
!android/SuperBET.apk
android/local.properties
android/*.keystore
android/superbet.keystore
android/local.properties
android/build_apk.js
android/manifest-checksum.txt
