.glare-hover {
  overflow: hidden;
  position: relative;
}

.glare-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    -45deg,
    transparent 60%,
    rgba(255,255,255,0.06) 70%,
    transparent 80%,
    transparent 100%
  );
  transition: 650ms ease;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: -100% -100%;
}

.glare-hover:hover::before {
  background-position: 100% 100%;
}
